.button
{
 text-align: center;
 margin-left: 1em;
}
.cContent{
  margin-right: 2em;
  width: 90%;
  height: 50%;
}
.inputText{
    border: 2px solid;
    border-radius: 7px;
    margin: 0.8em;

}
.p1{
    font-weight: bolder;
    color: black;
}
.baslik{
    text-align: center;
    font-weight: bolder;
}