.margins{
    margin-right: 1.5em;
}
.borders{
    border: 2px solid;
    border-radius: 7px;
    margin: 0.8em; 
}
.rite{
    margin-right: 2em;
}
.baslik
{
 text-align: center;
 margin-top: 0.8em;
}
.button13
{
 position: relative;
 text-align: center;
 left: -2%;
 right: 1%;
 top: 15%;
 bottom: 0;
 margin-bottom: 2em;
}