.borders1{
    border: 1px hidden;
    border-radius: 7px;
    box-shadow: 0px 0px 5px gray;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;

}

.cikis {

    border-radius: 7px;
    color: white;
    background-color:red;
    margin-right: 2em;
}
.baslik
{
 text-align: center;
 margin-top: 0.8em;
 margin-left: 0.4em;
}
.button12
{
 position: relative;
 text-align: center;
 left: -2%;
 right: 5%;
 top: 1%;
 bottom: 1%;
 margin-bottom: 8%;
}